

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}



strong{
    color: #006494;
    
}

body{
    font-family: 'Dosis',
    sans-serif;
    font-family: 'Lato',
    sans-serif;
    font-family: 'News Cycle',
    sans-serif;
    
}

body::-webkit-scrollbar {
    display: none;
}

.intro-screen{
    display: flex;
    color: black;
    
}

.intro-screen strong{
    color: blue;
}

.intro-text, .intro-pic{
    height: 100vh;
    width: 50vw;
    /* border: solid blue; */
    display: flex;
}

.intro-text-centering-container{
    margin: auto auto;
    /* border: solid red; */
}

.intro-text h1{
    font-size: 72px;
    
}

.intro-text strong{
    color: #247BA0;
}

.job-description{
    margin-top: 3em
}

.intro-pic img{
    
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.about-container{
    display: flex;
}

.about-me-text-container{
    margin: 200px;
    /* border: solid yellow; */
}



 .about-me{
    
    height: 100vh;
    width: 50vw;
    /* border: solid red; */
    /* display: flex; */
}

.icons-container{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    /* border: solid pink; */
    justify-content: space-evenly;
    
    margin-top: 25%;
    
    
    
   
}

.icons-container a:hover, .codewars-badge{
 cursor: pointer;
transform: scale(1.1);
transition: all .5s ease-in;

}





.skills{
    /* border: solid green; */
    height: 100vh;
    width: 50vw;
    background-color: #ACC8E5;
    
    
    
}

.icon-container{
    height: 50px;
    width: 50px;
    background-color: #fff;
    padding: 2em;
    margin: 1em;
   
    border-radius: 100%;
    /* border: solid orange; */
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.icon-container img{
    /* border: solid red; */
    height: 30px;
    width: 30px;
}


.codewars-badge-container{
    display: flex;
    justify-content: flex-end;
}

.project-container{
    display: flex;
}

.project-info {
    height: 100vh;
    width: 50vw;
}

.project-view{
    height: 100vh;
    width: 50vw;
    background-color: #006494;
    color: #fff;
    
}

.project-text{
    /* border: solid red; */
    margin: auto;
    width: 50%;
    text-align: center;
    padding-top: 50%;
}

.background-cover{
    /* border: solid orange; */
    margin: 150px;
    padding: 150px;
    border-radius: 15px;
    
   
}



.background-cover:hover{
    
    background-image: url(./assets/betaminds.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: contain;
    color: transparent;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    
     
}


.project-background-image-pomodoro {
    background-image: url(./assets/pomodoro.png);
    opacity: 30%;
}

.project-background-image-syxxshoots {
    background-image: url(./assets/syxxshoots.png);
    opacity: 30%;
}